---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import Lightbox from "../../components/Lightbox.astro";

const albums = await getCollection("albums");
---

<MainLayout>
    <div class="photo-grid">
        {
            albums[0].data.images.map((image) => (
                <div
                    class="img-container"
                    data-src={`https://images.jspears.me/${albums[0].id}/${image}`}
                >
                    <Image
                        src={`https://images.jspears.me/${albums[0].id}/${image}`}
                        alt={image}
                        layout={"fixed"}
                        inferSize
                    />
                </div>
            ))
        }
    </div>
    <Lightbox src="" />

    <style>
        .photo-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }

        img {
            width: auto;
            height: 200px;
        }

        .img-container {
            background-color: rebeccapurple;
        }
    </style>

    <script src="../../scripts/lightbox.js"></script>
</MainLayout>
